In [1]:
import os
import csv
import pandas as pd

In [2]:
file = 'book1000k-1100k.csv'

In [3]:
df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
df.head()

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,RatingDist4,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews
0,1000000,Flight from Eden,Kathryn A. Graham,0595199402,4.00,2001,1,10,Writer's Showcase Press,5:1,4:1,3:1,2:0,1:0,total:3,1,NaN,380,"What could a computer expert, a mercenary with...",1
1,1000001,Roommates Again,Kathryn O. Galbraith,0689505973,3.20,1994,1,4,Margaret K. McElderry Books,5:0,4:3,3:1,2:0,1:1,total:5,1,NaN,44,"During their stay at Camp Sleep-Away, sisters ...",1
2,1000003,The King At The Door,Brock Cole,0374440417,3.95,1992,31,12,Farrar Straus Giroux,5:5,4:9,3:4,2:1,1:0,total:19,0,NaN,32,A poorly dressed old man appears at an inn and...,0
3,1000004,"Giotto: The Scrovegni Chapel, Padua",Bruce Cole,080761310X,4.47,1993,1,8,George Braziller,5:9,4:5,3:0,2:1,1:0,total:15,2,NaN,118,This beautiful series lavishly illustrates the...,2
4,1000005,Larky Mavis,Brock Cole,0374343659,3.69,2001,3,8,"Farrar, Straus and Giroux (BYR)",5:19,4:12,3:9,2:7,1:4,total:51,8,NaN,32,<b>Another orginal picture-book fairy tale</b>...,8

In [5]:
df.count()

Id                       39705
Name                     39705
Authors                  39705
ISBN                     39577
Rating                   39705
PublishYear              39705
PublishMonth             39705
PublishDay               39705
Publisher                39345
RatingDist5              39705
RatingDist4              39705
RatingDist3              39705
RatingDist2              39705
RatingDist1              39705
RatingDistTotal          39705
CountsOfReview           39705
Language                  7013
pagesNumber              39705
Description              34559
Count of text reviews    39705
dtype: int64

In [6]:
cleandf = df[['ISBN','Name','Authors','Language','pagesNumber','Publisher','PublishYear','Rating']]
cleandf

,ISBN,Name,Authors,Language,pagesNumber,Publisher,PublishYear,Rating
0,0595199402,Flight from Eden,Kathryn A. Graham,NaN,380,Writer's Showcase Press,2001,4.00
1,0689505973,Roommates Again,Kathryn O. Galbraith,NaN,44,Margaret K. McElderry Books,1994,3.20
2,0374440417,The King At The Door,Brock Cole,NaN,32,Farrar Straus Giroux,1992,3.95
3,080761310X,"Giotto: The Scrovegni Chapel, Padua",Bruce Cole,NaN,118,George Braziller,1993,4.47
4,0374343659,Larky Mavis,Brock Cole,NaN,32,"Farrar, Straus and Giroux (BYR)",2001,3.69
...,...,...,...,...,...,...,...,...
39700,0394910095,The Cat in the Hat Beginner Book Dictionary,P.D. Eastman,NaN,144,Random House Books for Young Readers,2007,4.39
39701,0375922768,Oh Say Can You Say What's the Weather Today?: ...,Tish Rabe,NaN,48,Random House Books for Young Readers,2004,4.19
39702,189020644X,Jewels on the Crescent: Masterpieces of the Ch...,Kalpana Desai,NaN,356,Mapin Publishing Pvt,2008,5.00
39703,0064430170,Goodnight Moon,Margaret Wise Brown,NaN,32,HarperCollins,2007,4.28
39704,0312856431,The Voices of Heaven,Frederik Pohl,NaN,347,Tor Books,1994,3.32

In [7]:
cleandf = cleandf.dropna(how='any')

In [8]:
cleandf.count()

ISBN           6842
Name           6842
Authors        6842
Language       6842
pagesNumber    6842
Publisher      6842
PublishYear    6842
Rating         6842
dtype: int64