In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from config import sql_password

### Create database connection

In [ ]:
rds_connection_string = (f"postgres:{sql_password}@localhost:5432/books_db")
engine = create_engine(f'postgresql://{rds_connection_string}')

### Load DataFrames into database

In [ ]:
dataCut.to_sql(name='book_titles', con=engine, if_exists='append', index=False)

### Confirm data has been added to the book_titles table

In [ ]:
pd.read_sql_query('select * from book_titles', con=engine).head()