In [77]:
from sqlalchemy import create_engine
import pandas as pd
import os
import requests
import json
import config
import datetime
import time

In [78]:
dataDir='Kaggle_csvData'

column_names=['ISBN',
             'Name',
             'Authors',
             'Description',
             'Language',
             'pagesNumber',
             'Publisher',
             'PublishYear',
             'Rating',
             'CountsOfReview']

mainData=pd.DataFrame(columns = column_names)

# Loop through each file in the data directory and load the files in a dataframe for ETL
for file in os.listdir(dataDir):
    filePath = '' + dataDir + '/' + os.fsdecode(file)
    df = pd.read_csv(filePath)
    # workaround for files without 'description' column
    if 'Description' not in df.columns:
        df['Description']="None"
    # initial stage of ETL - filter required columns
    df = df[['ISBN',
             'Name',
             'Authors',
             'Description',
             'Language',
             'pagesNumber',
             'Publisher',
             'PublishYear',
             'Rating',
             'CountsOfReview']]
    # remove non-english characters from Name and Author
    df['Name']=df['Name'].str.replace('[^a-zA-Z0-9!@#$%^&*()-+?/`~"\':; ]', '')
    #df['Authors']=df['Authors'].str.replace('[^a-zA-Z0-9!@#$%^&*()-+?/`~"\':; ]', '')
    # drop rows with missing values
    df.dropna(how='any',inplace=True)
    # append CSV data to main dataframe
    mainData = mainData.append(df,ignore_index=True)

In [79]:
# View distinct languages
mainData.Language.unique()

array(['eng', 'en-US', 'fre', 'spa', 'mul', 'en-GB', 'grc', 'enm',
       'en-CA', 'ger', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp',
       'ita', 'rus', 'msa', 'glg', 'wel', 'swe', 'nor', 'kor', 'tur',
       'gla', 'lit', 'per', 'pol', 'gle', 'cat', 'afr', 'ind', 'frs',
       'sco', 'raj', 'ang', 'eus', 'ypk', 'frm', 'nav', 'gre', 'urd',
       'elx'], dtype=object)

In [80]:
# filter languages & drop duplicates
enLanguages=['en-US','eng','en-GB','en-CA']
goodReadsData=mainData[mainData.Language.isin(enLanguages)].copy()
# sorting will keep the records with most reviews when duplicates are dropped
goodReadsData.sort_values(by='CountsOfReview',ascending=0,inplace=True)
goodReadsData = mainData[mainData.Language.isin(enLanguages)].drop_duplicates()
goodReadsData.drop_duplicates(subset='ISBN',inplace=True)
goodReadsData.drop_duplicates(subset='Name',inplace=True)
# Convert certain columns to INT
goodReadsData['CountsOfReview']=goodReadsData['CountsOfReview'].astype(int)
goodReadsData['pagesNumber']=goodReadsData['pagesNumber'].astype(int)
goodReadsData['PublishYear']=goodReadsData['PublishYear'].astype(int)
goodReadsData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35462 entries, 0 to 39749
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ISBN            35462 non-null  object
 1   Name            35462 non-null  object
 2   Authors         35462 non-null  object
 3   Description     35462 non-null  object
 4   Language        35462 non-null  object
 5   pagesNumber     35462 non-null  int32
 6   Publisher       35462 non-null  object
 7   PublishYear     35462 non-null  int32
 8   Rating          35462 non-null  float64
 9   CountsOfReview  35462 non-null  int32
dtypes: float64(1), int32(3), object(6)
memory usage: 2.6+ MB

In [81]:
# View Statistical overview for numerical columns
goodReadsData.describe()

        pagesNumber   PublishYear        Rating  CountsOfReview
count  35462.000000  35462.000000  35462.000000    35462.000000
mean     315.421381   1999.531583      3.902956      241.926485
std      408.174203     12.909284      0.434922     1479.518429
min        0.000000    162.000000      0.000000        0.000000
25%      189.000000   1997.000000      3.750000        4.000000
50%      284.000000   2002.000000      3.940000       23.000000
75%      384.000000   2005.000000      4.130000      104.000000
max    63987.000000   2020.000000      5.000000    94850.000000

In [82]:
# Investgate why pagesNumber has minumim value of 0. (Mostly they seem to be Audiobooks) 
low_page_data= goodReadsData.loc[(goodReadsData["pagesNumber"] >= 0) & (goodReadsData["pagesNumber"] <= 5)]
low_page_data

,ISBN,Name,Authors,Description,Language,pagesNumber,Publisher,PublishYear,Rating,CountsOfReview
280,0802415318,The 5 Love Languages / The 5 Love Languages Jo...,Gary Chapman,None,eng,0,Moody Publishers,2005,4.69,4
299,0310258979,Purpose Driven Life For Commuters: What on Ea...,Rick Warren,None,eng,5,Zondervan,2005,3.93,2
598,0743564367,The Old Man and the Sea,Ernest Hemingway,None,eng,3,Simon Schuster Audio,2006,3.77,79
760,140015068X,The Tragedy of Pudd'nhead Wilson,Mark Twain,None,eng,0,Tantor Media,2003,3.79,0
953,0743564677,Murder by Moonlight & Other Mysteries (New Adv...,NOT A BOOK,None,eng,0,Simon Schuster Audio,2006,4.00,2
...,...,...,...,...,...,...,...,...,...,...
39180,0736675396,The Case Of The CarBarkaholic Dog (Hank The Co...,John R. Erickson,None,eng,0,"Books on Tape, Inc.",2001,3.95,0
39210,051715904X,Friends for Life,Meg Wolitzer,None,eng,0,Random House Value Publishing,1995,2.99,19
39300,0807217115,The Reptile Room (A Series of Unfortunate Even...,Lemony Snicket,None,eng,3,Listening Library,2003,3.99,4
39412,0007202628,Old Possum's Book of Practical Cats by TS Eliot,T.S. Eliot,None,eng,1,HarperCollins Audio,2005,4.08,2
39429,0972605800,It's Your Move! Transform Your Dreams From Wis...,Dannye Williamsen,None,eng,5,Williamsen Publications,2004,0.00,0

In [83]:
goodReadsData.sort_values(by='Name',inplace=True)

In [94]:
# initialise DF's
categoryDF = {"category_id":[],
             "category_name":[]}

isbn_categoryDF = {"isbn_no":[],
                   "category_id":[]}

authorDF = {"author_id":[],
            "author_name":[]}

isbn_authorDF = {"isbn_no":[],
                 "author_id":[]}

print_typeDF = {"print_type_id":[],
                "print_type":[]}

book_titlesDF= {"isbn_no":[],
                     "print_type_id":[],
                     "retail_price":[]}

# configure maximum Google books API call
maxData = config.maximum_data
# get a list of ISBNs
isbn = goodReadsData['ISBN'].head(maxData)

In [95]:
# initialise ID's
category_id = 0
author_id = 0
print_type_id = 0

# initialise counters
timeoutMax=3
timeoutCtr=0
prc_cntr=0

# create URL
url=f'https://www.googleapis.com/books/v1/volumes?key={config.g_key}&q=isbn:'

# record runtime
startTime = datetime.datetime.now().strftime('%d/%m/%y %H:%M:%S')

# loop through ISBNs and do a googlebooks API call
for i in isbn:

    # GET the API data
    response = requests.get(f"{url}{i}").json()
    prc_cntr += 1
    prcnt=round((prc_cntr/maxData)*100,0)

    # if response returns data then process the data
    try:
        if response['totalItems'] != 0:
            # reset timeout counter
            timeoutCtr=0

            # initialise authors list
            authors=[]

            print(f"RECORD {prc_cntr}: {prcnt}% - Processing ISBN No. {i}")

            # get author data
            try:
                authors=response['items'][0]['volumeInfo']['authors']
            except (KeyError, IndexError):
                authors.append(dataCut.loc[dataCut['ISBN'] == i]["Authors"].iloc[0])

            # get print_type data
            print_type=response['items'][0]['volumeInfo']['printType']

            # get categories data
            try:
                categories=response['items'][0]['volumeInfo']['categories']
            except (KeyError, IndexError):
                categories=[]

            # get list price data
            try:
                listPrice=response['items'][0]['saleInfo']['listPrice']['amount']
            except (KeyError, IndexError):
                listPrice=0.00   

            # load categories data in objects
            if len(categories) > 0:
                for c in categories:
                    cCaps = c.upper()
                    if cCaps not in categoryDF['category_name']: 
                        category_id += 1
                        categoryDF['category_id'].append(category_id)
                        categoryDF['category_name'].append(cCaps)
                        finalCatId = category_id
                    else: 
                        finalCatId = categoryDF['category_id'][categoryDF['category_name'].index(cCaps)]

                    isbn_categoryDF['isbn_no'].append(i)
                    isbn_categoryDF['category_id'].append(finalCatId)

            # load authors data in objects
            for a in authors:
                aCaps = a.upper()
                if aCaps not in authorDF['author_name']: 
                    author_id += 1
                    authorDF['author_id'].append(author_id)
                    authorDF['author_name'].append(aCaps)
                    finalAuthId = author_id
                else: 
                    finalAuthId = authorDF['author_id'][authorDF['author_name'].index(aCaps)]

                isbn_authorDF['isbn_no'].append(i)
                isbn_authorDF['author_id'].append(finalAuthId)

            # load print type data
            if print_type not in print_typeDF['print_type']:
                ptCaps = print_type.upper()
                print_type_id += 1
                print_typeDF['print_type_id'].append(print_type_id)
                print_typeDF['print_type'].append(ptCaps)
                finalPrintId = print_type_id
            else:
                finalPrintId = print_typeDF['print_type_id'][print_typeDF['print_type'].index(ptCaps)]

            # load google books data
            book_titlesDF['isbn_no'].append(i)
            book_titlesDF['print_type_id'].append(finalPrintId)
            book_titlesDF['retail_price'].append(listPrice)

        else:
            # skip if ISBN is not found
            print(f"RECORD {prc_cntr}: {prcnt}% - ISBN {i} not found. Skipping...")
    except (KeyError, IndexError):
        if timeoutCtr < timeoutMax:
            print(f"API Call timeout, resting for 20 seconds...")
            # increment timeout counter
            timeoutCtr += 1
            # sleep
            time.sleep(20)      
        else:
            print(f"ERROR: Maximum daily API call might have been reached, check API key...")
            break

endTime = datetime.datetime.now().strftime('%d/%m/%y %H:%M:%S')

# record start and completion time
print(f"START TIME:     {startTime} \nCOMPLETION TIME: {endTime}")

RECORD 1: 1.0% - Processing ISBN No. 0821224964
RECORD 2: 2.0% - Processing ISBN No. 0743470796
RECORD 3: 4.0% - Processing ISBN No. 0486294218
RECORD 4: 5.0% - Processing ISBN No. 0310243564
RECORD 5: 6.0% - ISBN 0446674060 not found. Skipping...
RECORD 6: 8.0% - Processing ISBN No. 0385471270
RECORD 7: 9.0% - Processing ISBN No. 0070183171
RECORD 8: 10.0% - Processing ISBN No. 0292713428
RECORD 9: 11.0% - Processing ISBN No. 0590020498
API Call timeout, resting for 20 seconds...
RECORD 10: 12.0% - Processing ISBN No. 0763614521
RECORD 11: 14.0% - Processing ISBN No. 0740715267
RECORD 12: 15.0% - Processing ISBN No. 0688093388
RECORD 13: 16.0% - Processing ISBN No. 0813523168
RECORD 14: 18.0% - ISBN 0804723613 not found. Skipping...
RECORD 15: 19.0% - Processing ISBN No. 0818403128
RECORD 16: 20.0% - ISBN 0465083617 not found. Skipping...
RECORD 17: 21.0% - Processing ISBN No. 0807735663
RECORD 18: 22.0% - Processing ISBN No. 0823225283
RECORD 19: 24.0% - Processing ISBN No. 1592000673
RECORD 20: 25.0% - Processing ISBN No. 0340677570
RECORD 21: 26.0% - ISBN 0374425213 not found. Skipping...
RECORD 22: 28.0% - Processing ISBN No. 0719059569
RECORD 23: 29.0% - ISBN 0385516487 not found. Skipping...
RECORD 24: 30.0% - Processing ISBN No. 0060539763
RECORD 25: 31.0% - Processing ISBN No. 0226294277
RECORD 26: 32.0% - ISBN 0713650605 not found. Skipping...
RECORD 27: 34.0% - Processing ISBN No. 0192834495
RECORD 28: 35.0% - Processing ISBN No. 0684848783
RECORD 29: 36.0% - Processing ISBN No. 0316107093
RECORD 30: 38.0% - Processing ISBN No. 0439745713
RECORD 31: 39.0% - Processing ISBN No. 0439669375
RECORD 32: 40.0% - Processing ISBN No. 0818402539
RECORD 33: 41.0% - Processing ISBN No. 0810992299
RECORD 34: 42.0% - Processing ISBN No. 1418508764
RECORD 35: 44.0% - ISBN 0977771504 not found. Skipping...
RECORD 36: 45.0% - Processing ISBN No. 0785270221
RECORD 37: 46.0% - Processing ISBN No. 1595581618
RECORD 38: 48.0% - Processing ISBN No. 060960645X
RECORD 39: 49.0% - Processing ISBN No. 0679416412
RECORD 40: 50.0% - Processing ISBN No. 042519745X
RECORD 41: 51.0% - Processing ISBN No. 140120998X
RECORD 42: 52.0% - Processing ISBN No. 1401213154
RECORD 43: 54.0% - Processing ISBN No. 1563896451
RECORD 44: 55.0% - Processing ISBN No. 1563897113
RECORD 45: 56.0% - Processing ISBN No. 1563898276
RECORD 46: 57.0% - Processing ISBN No. 1563899485
RECORD 47: 59.0% - Processing ISBN No. 1563899965
RECORD 48: 60.0% - ISBN 140120189X not found. Skipping...
RECORD 49: 61.0% - Processing ISBN No. 1401209289
RECORD 50: 62.0% - Processing ISBN No. 1402709730
RECORD 51: 64.0% - Processing ISBN No. 0380699176
RECORD 52: 65.0% - Processing ISBN No. 0715323083
RECORD 53: 66.0% - Processing ISBN No. 1402709757
RECORD 54: 68.0% - Processing ISBN No. 0760708541
API Call timeout, resting for 20 seconds...
RECORD 55: 69.0% - Processing ISBN No. 0713675853
RECORD 56: 70.0% - Processing ISBN No. 1400081971
RECORD 57: 71.0% - Processing ISBN No. 0802130720
RECORD 58: 72.0% - Processing ISBN No. 0802117813
RECORD 59: 74.0% - Processing ISBN No. 0898866383
RECORD 60: 75.0% - Processing ISBN No. 0062510509
RECORD 61: 76.0% - Processing ISBN No. 1402709765
RECORD 62: 78.0% - Processing ISBN No. 0933121180
RECORD 63: 79.0% - Processing ISBN No. 087905591X
RECORD 64: 80.0% - ISBN 0764519727 not found. Skipping...
RECORD 65: 81.0% - Processing ISBN No. 0761104844
RECORD 66: 82.0% - Processing ISBN No. 1579905080
RECORD 67: 84.0% - ISBN 1902947770 not found. Skipping...
RECORD 68: 85.0% - Processing ISBN No. 076114076X
RECORD 69: 86.0% - Processing ISBN No. 0789313715
RECORD 70: 88.0% - Processing ISBN No. 1844034984
RECORD 71: 89.0% - ISBN 0486256073 not found. Skipping...
RECORD 72: 90.0% - Processing ISBN No. 0764159070
RECORD 73: 91.0% - Processing ISBN No. 3899550943
RECORD 74: 92.0% - ISBN 0746052081 not found. Skipping...
RECORD 75: 94.0% - ISBN 0746052162 not found. Skipping...
RECORD 76: 95.0% - Processing ISBN No. 0746029551
RECORD 77: 96.0% - Processing ISBN No. 0879801115
RECORD 78: 98.0% - ISBN 0060524197 not found. Skipping...
RECORD 79: 99.0% - Processing ISBN No. 0486401588
RECORD 80: 100.0% - Processing ISBN No. 0825434203
START TIME:     08/03/21 14:15:50
COMPLETION TIME: 08/03/21 14:18:24

In [122]:
# Convert directory of lists to DataFrames
book_titlesDF2=pd.DataFrame(goodReadsData)
google_booksDF=pd.DataFrame(book_titlesDF)
authorDF2=pd.DataFrame(authorDF)#.set_index('author_id')
categoryDF2=pd.DataFrame(categoryDF)#.set_index('category_id')
print_typeDF2=pd.DataFrame(print_typeDF)#.set_index('print_type_id')
isbn_categoryDF2=pd.DataFrame(isbn_categoryDF)#.set_index('isbn_no')
isbn_authorDF2=pd.DataFrame(isbn_authorDF)#.set_index('isbn_no')

#align Column names to database
book_titlesDF2.columns
book_titlesDF2

,ISBN,Name,Authors,Description,Language,pagesNumber,Publisher,PublishYear,Rating,CountsOfReview
14774,0821224964,Propos de Paris,Henri Cartier-Bresson,None,eng,168,Bulfinch,1998,4.65,3
1653,0743470796,said the shotgun to the head,Saul Williams,None,en-US,192,MTV Books,2003,4.22,215
20011,0486294218,"""A Pretty Girl is Like a Melody"" and Other Fav...",David A. Jasen,Original sheet music and covers for 40 beloved...,eng,176,Dover Publications,1997,2.00,0
9926,0310243564,"""A"" Is for Abductive : The Language of the Eme...",Leonard Sweet,None,en-US,338,Zondervan,2002,3.14,3
27395,0446674060,"""A"" Is for Admission: The Insider's Guide to G...",Michele A. Hernández,None,en-US,288,Warner Books,2009,3.75,4
...,...,...,...,...,...,...,...,...,...,...
16052,0977901904,one love affair*,Jenny Boully,None,eng,67,Tarpaulin Sky Press,2006,4.20,24
8967,0534371094,programmingjava: An Introduction to Programmin...,Rick Decker,None,eng,640,Course Technology,1999,4.00,0
13147,0140279245,ruthlesscom (Tom Clancy's Power Plays #2),Jerome Preisler,None,eng,368,Penguin Books Ltd,1998,3.74,1
1895,0060786809,sexliesmurderfame,Lolita Files,None,eng,368,Amistad,2006,3.79,27
29966,0938399101,the Art of Virtue: His Formula for Successful ...,Benjamin Franklin,None,eng,312,Acorn Publishing,1996,4.16,18

In [102]:
# create database connection
engine = create_engine(f'postgresql://{config.pg_user}:{config.pg_pass}@127.0.0.1/books_db')
connection = engine.connect()

In [103]:
# Ensure that destination tables are empty
engine.execute("DELETE FROM book_titles")
engine.execute("DELETE FROM author")
engine.execute("DELETE FROM category")
engine.execute("DELETE FROM print_type")
engine.execute("DELETE FROM isbn_category")
engine.execute("DELETE FROM isbn_author")

In [125]:
# Populate destination tables
book_titlesDF2.to_sql('book_titles', con=engine, if_exists='append', index=False)
authorDF2.to_sql('author', con=engine, if_exists='append', index=False)
categoryDF2.to_sql('category', con=engine, if_exists='append', index=False)
print_typeDF2.to_sql('print_type', con=engine, if_exists='append', index=False)
isbn_categoryDF2.to_sql('isbn_category', con=engine, if_exists='append', index=False)
isbn_authorDF2.to_sql('isbn_author', con=engine, if_exists='append', index=False)
google_booksDF.to_sql('google_books', con=engine, if_exists='append', index=False)

In [126]:
# validate table count
book_titles_count=(engine.execute("SELECT COUNT(*) FROM book_titles").fetchall())[0][0]
author_count=(engine.execute("SELECT COUNT(*) FROM author").fetchall())[0][0]
category_count=(engine.execute("SELECT COUNT(*) FROM category").fetchall())[0][0]
print_type_count=(engine.execute("SELECT COUNT(*) FROM print_type").fetchall())[0][0]
isbn_category_count=(engine.execute("SELECT COUNT(*) FROM isbn_category").fetchall())[0][0]
isbn_author_count=(engine.execute("SELECT COUNT(*) FROM isbn_author").fetchall())[0][0]
print("***************************************************************")
print("** Please make sure all table data are populated as expected")
print("***************************************************************")
print(f"\"BOOK TITLES\" table count: {book_titles_count}")
print(f"\"AUTHOR\" table count: {author_count}")
print(f"\"CATEGORY\" table count: {category_count}")
print(f"\"PRINT_TYPE\" table count: {print_type_count}")
print(f"\"ISBN_CATEGORY\" table count: {isbn_category_count}")
print(f"\"ISBN_AUTHOR\" table count: {isbn_author_count}")

***************************************************************
** Please make sure all table data are populated as expected
***************************************************************
"BOOK TITLES" table count: 35462
"AUTHOR" table count: 71
"CATEGORY" table count: 31
"PRINT_TYPE" table count: 1
"ISBN_CATEGORY" table count: 64
"ISBN_AUTHOR" table count: 86