In [1]:
import pandas as pd
import os
import requests
import json
import config
import datetime

In [2]:
dataDir='data'

column_names=['ISBN',
             'Name',
             'Authors',
             'Description',
             'Language',
             'pagesNumber',
             'Publisher',
             'PublishYear',
             'Rating',
             'CountsOfReview']

mainData=pd.DataFrame(columns = column_names)

# Loop through each file in the data directory and load the files in a dataframe for ETL
for file in os.listdir(dataDir):
    filePath = '' + dataDir + '/' + os.fsdecode(file)
    df = pd.read_csv(filePath)
    # workaround for files without 'description' column
    if 'Description' not in df.columns:
        df['Description']="None"
    # initial stage of ETL - filter required columns
    df = df[['ISBN',
             'Name',
             'Authors',
             'Description',
             'Language',
             'pagesNumber',
             'Publisher',
             'PublishYear',
             'Rating',
             'CountsOfReview']]
    # remove non-english characters from Name and Author
    df['Name']=df['Name'].str.replace('[^a-zA-Z0-9!@#$%^&*()-+?/`~"\':; ]', '')
    #df['Authors']=df['Authors'].str.replace('[^a-zA-Z0-9!@#$%^&*()-+?/`~"\':; ]', '')
    # drop rows with missing values
    df.dropna(how='any',inplace=True)
    # append CSV data to main dataframe
    mainData = mainData.append(df,ignore_index=True)

In [3]:
mainData

,ISBN,Name,Authors,Description,Language,pagesNumber,Publisher,PublishYear,Rating,CountsOfReview
0,0439358078,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,None,eng,870,Scholastic Inc.,2004,4.50,29770
1,0439554896,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,None,eng,352,Scholastic,2003,4.42,244
2,043965548X,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,None,eng,435,Scholastic Inc.,2004,4.57,37093
3,0439682584,Harry Potter Boxed Set Books 15 (Harry Potter ...,J.K. Rowling,None,eng,2690,Scholastic,2004,4.78,166
4,0976540606,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,None,en-US,152,Nimble Books,2005,3.79,1
...,...,...,...,...,...,...,...,...,...,...
45740,0813311594,The Center Of The Universe: The Geopolitics Of...,Graham E. Fuller,None,eng,301,Westview Press,1991,3.47,0
45741,0883650975,Gloria Vanderbilt Book Of Collage,Gloria Vanderbilt,None,eng,112,Galahad Books,1970,3.42,3
45742,0310295610,Who Moved the Stone?,Frank Morison,None,en-US,193,Zondervan Academic,1987,3.91,50
45743,0786867280,Silent Joe,T. Jefferson Parker,None,eng,341,Hyperion Books,2001,3.85,124
45744,1574883453,Silent Warfare: Understanding the World of Int...,Abram N. Shulsky,None,en-GB,262,Potomac Books,2002,3.63,8

In [4]:
# View distinct languages
mainData.Language.unique()

array(['eng', 'en-US', 'fre', 'spa', 'mul', 'en-GB', 'grc', 'enm',
       'en-CA', 'ger', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp',
       'ita', 'rus', 'msa', 'glg', 'wel', 'swe', 'nor', 'kor', 'tur',
       'gla', 'lit', 'per', 'pol', 'gle', 'cat', 'afr', 'ind', 'frs',
       'sco', 'nav', 'gre', 'urd', 'elx', '--', 'cze', 'tlh', 'ang',
       'hin', 'raj', 'nub', 'fin', 'dan', 'heb'], dtype=object)

In [5]:
# filter languages & drop duplicates
enLanguages=['en-US','eng','en-GB','en-CA']
mainData2=mainData[mainData.Language.isin(enLanguages)].copy()
# sorting will keep the records with most reviews when duplicates are dropped
mainData2.sort_values(by='CountsOfReview',ascending=0,inplace=True)
mainData2 = mainData[mainData.Language.isin(enLanguages)].drop_duplicates()
mainData2.drop_duplicates(subset='ISBN',inplace=True)
mainData2.drop_duplicates(subset='Name',inplace=True)
# Convert certain columns to INT
mainData2['CountsOfReview']=mainData2['CountsOfReview'].astype(int)
mainData2['pagesNumber']=mainData2['pagesNumber'].astype(int)
mainData2['PublishYear']=mainData2['PublishYear'].astype(int)
mainData2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41154 entries, 0 to 45744
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ISBN            41154 non-null  object
 1   Name            41154 non-null  object
 2   Authors         41154 non-null  object
 3   Description     41154 non-null  object
 4   Language        41154 non-null  object
 5   pagesNumber     41154 non-null  int32
 6   Publisher       41154 non-null  object
 7   PublishYear     41154 non-null  int32
 8   Rating          41154 non-null  float64
 9   CountsOfReview  41154 non-null  int32
dtypes: float64(1), int32(3), object(6)
memory usage: 3.0+ MB

In [6]:
mainData2.sort_values(by='Name',inplace=True)

In [15]:
maxData = config.maximum_data
dataCut=mainData2.head(maxData).reset_index(drop=True)
dataCut

,ISBN,Name,Authors,Description,Language,pagesNumber,Publisher,PublishYear,Rating,CountsOfReview
0,4770027036,/ The Tale Of Genji: 22,Waki Yamato,None,eng,160,講談社,2001,0.00,0
1,0821224964,Propos de Paris,Henri Cartier-Bresson,None,eng,168,Bulfinch,1998,4.65,3
2,0743470796,said the shotgun to the head,Saul Williams,None,en-US,192,MTV Books,2003,4.22,215
3,0310243564,"""A"" Is for Abductive : The Language of the Eme...",Leonard Sweet,None,en-US,338,Zondervan,2002,3.14,3
4,0446674060,"""A"" Is for Admission: The Insider's Guide to G...",Michele A. Hernández,None,en-US,288,Warner Books,2009,3.75,4
5,0761128050,"""A"" Is for Adultery Angst and Adults Only",Sara Midda,None,en-GB,64,Workman Publishing Company,2002,3.59,1
6,0385471270,"""An Honorable Profession"": A Tribute to Robert...",Pierre Salinger,None,eng,212,Main Street Books,1993,4.12,2
7,0070183171,"""Dear Genius"": A Memoir of My Life with Truman...",Jack Dunphy,None,eng,275,McGraw-Hill Companies,1987,3.33,6
8,0292713428,"""Evil"" Arabs in American Popular Film: Orienta...",Tim Jon Semmerling,None,eng,303,University of Texas Press,2006,4.50,0
9,0590020498,"""I Can't"" Said The Ant",Polly Cameron,None,eng,36,Scholastic Inc.,1948,4.10,12
10,2718117524,"""Le Rouge Et Le Noir"" De Stendhal",Pierre Georges Castex,None,eng,187,CDU SEDES,1995,3.73,25
11,0740715267,"""My Teenage Son's Goal In Life Is To Make Me F...",Dave Barry,None,eng,112,Andrews McMeel Publishing,2001,3.64,10
12,0226284352,"""Race"" Writing and Difference",Henry Louis Gates Jr.,None,eng,428,University of Chicago Press Journals,1992,4.06,2
13,0688093388,"""Stand Back"" Said the Elephant ""I'm Going to S...",Patricia Thomas,None,eng,32,"William Morrow & Company, Inc.",1990,4.39,134
14,0813523168,"""Sweat""",Zora Neale Hurston,None,eng,233,Rutgers University Press,1997,4.06,52
15,0813521378,"""Tell Me a Riddle"": Tillie Olsen",Deborah Silverton Rosenfelt,None,eng,326,Rutgers University Press,1995,3.89,4
16,0140815244,"""The Room In The Tower"" And Other Ghost Stories",Rudyard Kipling,None,eng,48,Penguin Books,1995,3.46,2
17,0804723613,"""This Culture of Ours"": Intellectual Transitio...",Peter K. Bol,None,eng,532,Stanford University Press,1994,4.54,2
18,0818403128,"""What's Happening to Me?"" A Guide to Puberty",Peter Mayle,None,eng,56,Carol Publishing Group,1989,4.13,35
19,0465083617,"""Why Are All The Black Kids Sitting Together i...",Beverly Daniel Tatum,None,en-US,320,Basic Books,2003,4.22,717
20,0758210264,"""Wicked"" Women Whodunit",MaryJanice Davidson,None,eng,320,Kensington,2005,3.39,16
21,0758209355,"""Wicked"" Women on Top",Tina Donahue,None,eng,296,Kensington,2005,3.34,7
22,0807735663,"""You Gotta Be the Book"": Teaching Engaged and ...",Jeffrey D. Wilhelm,None,eng,208,Teachers College Press,1996,3.95,13
23,1592000673,$30 Film School: How to Write Direct Produce S...,Michael W. Dean,None,eng,528,Cengage Learning,2003,3.50,4
24,0571190146,'Art',Yasmina Reza,None,eng,63,Faber & Faber,1997,3.82,176
25,0340677570,'Final Solution': Nazi Population Policy and t...,Götz Aly,None,eng,305,"Oxford University Press, USA",1999,4.00,0
26,0802841066,'In the Beginning' A Catholic Understanding of...,Benedict XVI,None,eng,100,Eerdmans,1995,4.35,38
27,0719059569,'Love Me Or Kill Me': Sarah Kane and the Theat...,Graham D. Saunders,None,eng,224,Manchester University Press,2002,4.09,5
28,0385516487,'Salem's Lot,Stephen King,None,eng,594,Doubleday,2005,4.25,592
29,0060539763,'Scuse Me While I Whip This Out: Reflections o...,Kinky Friedman,None,en-US,208,William Morrow Paperbacks,2005,3.50,0
30,0226294277,'There Ain't no Black in the Union Jack': The ...,Paul Gilroy,None,eng,280,University of Chicago Press,1991,4.07,9
31,0192834495,'Tis Pity She's a Whore and Other Plays,John Ford,None,eng,416,Oxford University Press,1999,3.88,14
32,0684848783,'Tis: A Memoir,Frank McCourt,None,eng,367,Scribner,1999,3.70,104
33,0316107093,'Toons for Our Times: A Bloom County Book of H...,Berkeley Breathed,None,eng,96,Little Brown and Company,1984,4.40,27
34,0818402539,'Where Did I Come From?': The Facts of Life Wi...,Peter Mayle,None,eng,48,Carol Publishing Group,1990,4.14,128
35,0552547344,(Un)arranged Marriage,Bali Rai,None,eng,272,Corgi,2001,3.35,99
36,0810992299,(un)Fashion,Tibor Kalman,None,eng,224,Harry N. Abrams,2005,4.28,13
37,1418508764,1 Corinthians: Godly Solutions For Church Prob...,John F. MacArthur Jr.,None,eng,128,Thomas Nelson,2006,4.19,0
38,0977771504,1 Dead in Attic: PostKatrina Stories,Chris Rose,None,eng,158,Simon & Schuster,2005,4.12,310
39,0849955386,1 Samuel: How One Godly Man Changed a Nation (...,John F. MacArthur Jr.,None,eng,130,Thomas Nelson Publishers,2012,4.11,1
40,0785270221,10 Commandments of Dating,Ben Young,None,eng,175,Nelson Reference & Electronic Publishing,1999,3.89,14
41,0446676675,10 Days to Faster Reading,The Princeton Language Institute,None,eng,206,Grand Central Publishing,2001,3.87,130
42,0714844411,10 X 10 2,Phaidon Press,None,eng,468,Phaidon Press,2005,4.03,1
43,042519745X,10 lb Penalty,Dick Francis,None,eng,320,G.P. Putnam's Sons,2004,3.91,179
44,140120998X,100 Bullets Vol 10: Decayed,Brian Azzarello,None,eng,192,Vertigo,2006,4.07,42
45,1401213154,100 Bullets Vol 11: Once Upon a Crime,Brian Azzarello,None,eng,192,Vertigo,2007,4.05,51
46,1563896451,100 Bullets Vol 1: First Shot Last Call,Brian Azzarello,None,eng,128,Vertigo,2000,3.84,404
47,1563897113,100 Bullets Vol 2: Split Second Chance,Brian Azzarello,None,eng,224,Vertigo,2000,4.09,154
48,1563898276,100 Bullets Vol 4: A Foregone Tomorrow,Brian Azzarello,None,eng,264,Vertigo,2002,4.10,58
49,1563899485,100 Bullets Vol 5: The Counterfifth Detective,Brian Azzarello,None,eng,144,Vertigo,2003,4.10,77

In [8]:
# initialise DF's
categoryDF = {"category_id":[],
             "category_name":[]}

isbn_categoryDF = {"isbn_no":[],
                   "category_id":[]}

authorDF = {"author_id":[],
            "author_name":[]}

isbn_authorDF = {"isbn_no":[],
                 "author_id":[]}

print_typeDF = {"print_type_id":[],
                "print_type":[]}

googlebooks_dataDF= {"isbn_no":[],
                     "print_type_id":[],
                     "retail_price":[]}
# get a list of ISBNs
isbn = dataCut['ISBN']

In [9]:
# initialise ID's
category_id = 0
author_id = 0
print_type_id = 0

# initialise counters
prc_cntr=0
record=0
recs_fetched=1
set_no = 1

# create URL
url=f'https://www.googleapis.com/books/v1/volumes?key={config.g_key}&q=isbn:'

# record runtime
startTime = datetime.datetime.now().strftime('%d/%m/%y %H:%M:%S')

# loop through ISBNs and do a googlebooks API call
for i in isbn:

    # GET the API data
    response = requests.get(f"{url}{i}").json()
    prc_cntr += 1
    prcnt=round((prc_cntr/maxData)*100,0)

    # if response returns data then process the data
    if response['totalItems'] != 0:
        
        # initialise authors list
        authors=[]
        
        print(f"RECORD {prc_cntr}: {prcnt}% - Processing ISBN No. {i}")
        
        # get author data
        try:
            authors=response['items'][0]['volumeInfo']['authors']
        except (KeyError, IndexError):
            authors.append(dataCut.loc[dataCut['ISBN'] == i]["Authors"].iloc[0])
        
        # get print_type data
        print_type=response['items'][0]['volumeInfo']['printType']
        
        # get categories data
        try:
            categories=response['items'][0]['volumeInfo']['categories']
        except (KeyError, IndexError):
            categories=[]
        
        # get list price data
        try:
            listPrice=response['items'][0]['saleInfo']['listPrice']['amount']
        except (KeyError, IndexError):
            listPrice=0.00   
        
        # load categories data in objects
        if len(categories) > 0:
            for c in categories:
                cCaps = c.upper()
                if cCaps not in categoryDF['category_name']: 
                    category_id += 1
                    categoryDF['category_id'].append(category_id)
                    categoryDF['category_name'].append(cCaps)
                    finalCatId = category_id
                else: 
                    finalCatId = categoryDF['category_id'][categoryDF['category_name'].index(cCaps)]

                isbn_categoryDF['isbn_no'].append(i)
                isbn_categoryDF['category_id'].append(finalCatId)
        
        # load authors data in objects
        for a in authors:
            aCaps = a.upper()
            if aCaps not in authorDF['author_name']: 
                author_id += 1
                authorDF['author_id'].append(author_id)
                authorDF['author_name'].append(aCaps)
                finalAuthId = author_id
            else: 
                finalAuthId = authorDF['author_id'][authorDF['author_name'].index(aCaps)]

            isbn_authorDF['isbn_no'].append(i)
            isbn_authorDF['author_id'].append(finalAuthId)
        
        # load print type data
        if print_type not in print_typeDF['print_type']:
            ptCaps = print_type.upper()
            print_type_id += 1
            print_typeDF['print_type_id'].append(print_type_id)
            print_typeDF['print_type'].append(ptCaps)
            finalPrintId = print_type_id
        else:
            finalPrintId = print_typeDF['print_type_id'][print_typeDF['print_type'].index(ptCaps)]
        
        # load google books data
        googlebooks_dataDF['isbn_no'].append(i)
        googlebooks_dataDF['print_type_id'].append(finalPrintId)
        googlebooks_dataDF['retail_price'].append(listPrice)
        
    else:
        # skip if ISBN is not found
        print(f"RECORD {prc_cntr}: {prcnt}% - ISBN not found. Skipping...")

endTime = datetime.datetime.now().strftime('%d/%m/%y %H:%M:%S')

# record start and completion time
print(f"START TIME:     {startTime} \nCOMPLETION TIME: {endTime}")

RECORD 1: 2.0% - Processing ISBN No. 4770027036
RECORD 2: 4.0% - Processing ISBN No. 0821224964
RECORD 3: 6.0% - Processing ISBN No. 0743470796
RECORD 4: 8.0% - Processing ISBN No. 0310243564
RECORD 5: 10.0% - ISBN not found. Skipping...
RECORD 6: 12.0% - Processing ISBN No. 0761128050
RECORD 7: 14.0% - Processing ISBN No. 0385471270
RECORD 8: 16.0% - Processing ISBN No. 0070183171
RECORD 9: 18.0% - Processing ISBN No. 0292713428
RECORD 10: 20.0% - Processing ISBN No. 0590020498
RECORD 11: 22.0% - ISBN not found. Skipping...
RECORD 12: 24.0% - ISBN not found. Skipping...
RECORD 13: 26.0% - Processing ISBN No. 0226284352
RECORD 14: 28.0% - Processing ISBN No. 0688093388
RECORD 15: 30.0% - Processing ISBN No. 0813523168
RECORD 16: 32.0% - Processing ISBN No. 0813521378
RECORD 17: 34.0% - ISBN not found. Skipping...
RECORD 18: 36.0% - ISBN not found. Skipping...
RECORD 19: 38.0% - Processing ISBN No. 0818403128
RECORD 20: 40.0% - ISBN not found. Skipping...
RECORD 21: 42.0% - Processing ISBN No. 0758210264
RECORD 22: 44.0% - Processing ISBN No. 0758209355
RECORD 23: 46.0% - Processing ISBN No. 0807735663
RECORD 24: 48.0% - Processing ISBN No. 1592000673
RECORD 25: 50.0% - Processing ISBN No. 0571190146
RECORD 26: 52.0% - Processing ISBN No. 0340677570
RECORD 27: 54.0% - Processing ISBN No. 0802841066
RECORD 28: 56.0% - Processing ISBN No. 0719059569
RECORD 29: 58.0% - ISBN not found. Skipping...
RECORD 30: 60.0% - Processing ISBN No. 0060539763
RECORD 31: 62.0% - Processing ISBN No. 0226294277
RECORD 32: 64.0% - Processing ISBN No. 0192834495
RECORD 33: 66.0% - Processing ISBN No. 0684848783
RECORD 34: 68.0% - Processing ISBN No. 0316107093
RECORD 35: 70.0% - Processing ISBN No. 0818402539
RECORD 36: 72.0% - Processing ISBN No. 0552547344
RECORD 37: 74.0% - Processing ISBN No. 0810992299
RECORD 38: 76.0% - Processing ISBN No. 1418508764
RECORD 39: 78.0% - ISBN not found. Skipping...
RECORD 40: 80.0% - Processing ISBN No. 0849955386
RECORD 41: 82.0% - Processing ISBN No. 0785270221
RECORD 42: 84.0% - Processing ISBN No. 0446676675
RECORD 43: 86.0% - Processing ISBN No. 0714844411
RECORD 44: 88.0% - Processing ISBN No. 042519745X
RECORD 45: 90.0% - Processing ISBN No. 140120998X
RECORD 46: 92.0% - Processing ISBN No. 1401213154
RECORD 47: 94.0% - Processing ISBN No. 1563896451
RECORD 48: 96.0% - Processing ISBN No. 1563897113
RECORD 49: 98.0% - Processing ISBN No. 1563898276
RECORD 50: 100.0% - Processing ISBN No. 1563899485
START TIME:     03/03/21 14:10:09
COMPLETION TIME: 03/03/21 14:10:46

In [10]:
# Convert directory of lists to DataFrames
categoryDF=pd.DataFrame(categoryDF)
isbn_categoryDF=pd.DataFrame(isbn_categoryDF)
authorDF=pd.DataFrame(authorDF)
isbn_authorDF=pd.DataFrame(isbn_authorDF)
print_typeDF=pd.DataFrame(print_typeDF)
googlebooks_dataDF=pd.DataFrame(googlebooks_dataDF)

In [11]:
categoryDF

    category_id                         category_name
0             1                           PHOTOGRAPHY
1             2                                POETRY
2             3                              RELIGION
3             4                                   ART
4             5             BIOGRAPHY & AUTOBIOGRAPHY
5             6                               FICTION
6             7                       PERFORMING ARTS
7             8                      ENGLISH LANGUAGE
8             9                    LITERARY CRITICISM
9            10                   JUVENILE NONFICTION
10           11  COURTS-MARTIAL AND COURTS OF INQUIRY
11           12                             EDUCATION
12           13                             COMPUTERS
13           14                                 DRAMA
14           15                               HISTORY
15           16                                 HUMOR
16           17                FAMILY & RELATIONSHIPS
17           18                     ARRANGED MARRIAGE
18           19                                DESIGN
19           20                             REFERENCE
20           21                          ARCHITECTURE
21           22               COMICS & GRAPHIC NOVELS
22           23                        GRAPHIC NOVELS
23           24  GRAVES, AGENT (FICTITIOUS CHARACTER)
24           25              COMIC BOOKS, STRIPS, ETC

In [12]:
isbn_categoryDF

       isbn_no  category_id
0   0821224964            1
1   0743470796            2
2   0310243564            3
3   0761128050            4
4   0385471270            5
5   0070183171            6
6   0292713428            7
7   0590020498            8
8   0226284352            9
9   0688093388           10
10  0813523168            6
11  0813521378            6
12  0818403128           11
13  0758210264            6
14  0758209355            6
15  0807735663           12
16  1592000673           13
17  0571190146           14
18  0340677570           15
19  0802841066            3
20  0719059569           14
21  0060539763           16
22  0226294277            5
23  0192834495           14
24  0684848783            5
25  0316107093           16
26  0818402539           17
27  0552547344           18
28  0810992299           19
29  1418508764            3
30  0849955386            3
31  0785270221            3
32  0446676675           20
33  0714844411           21
34  042519745X            6
35  140120998X           22
36  1401213154           23
37  1563896451           24
38  1563897113           22
39  1563898276           25
40  1563899485           22

In [13]:
authorDF

    author_id                                        author_name
0           1                                        WAKI YAMATO
1           2                              HENRI CARTIER-BRESSON
2           3                                      SAUL WILLIAMS
3           4                                   LEONARD I. SWEET
4           5                                   BRIAN D. MCLAREN
5           6                                   JERRY HASELMAYER
6           7                                         SARA MIDDA
7           8                                    PIERRE SALINGER
8           9                                        JACK DUNPHY
9          10                                 TIM JON SEMMERLING
10         11                                      POLLY CAMERON
11         12                                  HENRY LOUIS GATES
12         13  W E B DUBOIS PROFESSOR OF HUMANITIES CHAIR OF ...
13         14                                     ANTHONY APPIAH
14         15                                    PATRICIA THOMAS
15         16                                 ZORA NEALE HURSTON
16         17                                       TILLIE OLSEN
17         18                              WILMA TRUMMEL PARNELL
18         19                                        PETER MAYLE
19         20                                       ROBERT TABER
20         21                                         AMY GARVEY
21         22                                   JENNIFER APODACA
22         23                                     NANCY J. COHEN
23         24                                       TINA DONAHUE
24         25                                       JEN NICHOLAS
25         26                                     JORDAN SUMMERS
26         27                                 JEFFREY D. WILHELM
27         28                               MICHAEL WAREHAM DEAN
28         29                                       YASMINA REZA
29         30                                           GÖTZ ALY
30         31                                  POPE BENEDICT XVI
31         32                                    GRAHAM SAUNDERS
32         33                                     KINKY FRIEDMAN
33         34                                        PAUL GILROY
34         35                                          JOHN FORD
35         36                                      FRANK MCCOURT
36         37                                     BERKE BREATHED
37         38                                           BALI RAI
38         39                                       TIBOR KALMAN
39         40                                       MAIRA KALMAN
40         41                                     JOHN MACARTHUR
41         42                                          BEN YOUNG
42         43                                       SAMUEL ADAMS
43         44                   THE PRINCETON LANGUAGE INSTITUTE
44         45                                   ABBY MARKS-BEALE
45         46                           EDITORS OF PHAIDON PRESS
46         47                                       DICK FRANCIS
47         48                                    BRIAN AZZARELLO
48         49                                      EDUARDO RISSO
49         50                                      GRANT GOLEASH

In [14]:
isbn_authorDF

       isbn_no  author_id
0   4770027036          1
1   0821224964          2
2   0743470796          3
3   0310243564          4
4   0310243564          5
5   0310243564          6
6   0761128050          7
7   0385471270          8
8   0070183171          9
9   0292713428         10
10  0590020498         11
11  0226284352         12
12  0226284352         13
13  0226284352         14
14  0688093388         15
15  0813523168         16
16  0813521378         17
17  0818403128         18
18  0818403128         19
19  0818403128         20
20  0758210264         21
21  0758210264         22
22  0758210264         23
23  0758209355         24
24  0758209355         25
25  0758209355         26
26  0807735663         27
27  1592000673         28
28  0571190146         29
29  0340677570         30
30  0802841066         31
31  0719059569         32
32  0060539763         33
33  0226294277         34
34  0192834495         35
35  0684848783         36
36  0316107093         37
37  0818402539         19
38  0552547344         38
39  0810992299         39
40  0810992299         40
41  1418508764         41
42  0849955386         41
43  0785270221         42
44  0785270221         43
45  0446676675         44
46  0446676675         45
47  0714844411         46
48  042519745X         47
49  140120998X         48
50  140120998X         49
51  1401213154         48
52  1563896451         48
53  1563897113         48
54  1563897113         49
55  1563897113         50
56  1563898276         48
57  1563899485         48
58  1563899485         49